.grid{
  display: grid;
  min-height: 100%;
  grid-template-areas:
    "nav"
    "main";
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
}

.nav{
  grid-area: "nav";  
  background-color: lig;
}

.main{
    grid-area: "main";  
  }