a:hover {
    background-color: lightgoldenrodyellow;
}

.saved {
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    font-size: 23px;
}

body {
    background-image: url("/static/img/tranquil.jpg");
    background-size: cover;
}

.container {
    display: grid;
    justify-content: center;
    background-image: url("/static/img/profile.jpg");
    background-size: cover;
    height: 100vh;
}

.navbar-custom {
    background-color: rgb(235, 225, 238);
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: 30px;
}

.navbar-custom .nav-link {
    color: black;
}

textarea {
    background: url("http://i.stack.imgur.com/ynxjD.png") repeat-y;
    width: 900px;
    height: 700px;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}

h3 {
    color:rgb(47, 58, 99);
}

#weekday {
    color:rgb(114, 169, 231);
}

img {
    padding-left: 15px;
}

.calendar-icon {
    padding-right: 18px;
}

.gradient-custom-2 {
    background: linear-gradient(to right, #dbd8bc, #caaf64, #ce9955, #e06ea3);
}

.gradient-custom-3 {
    background: linear-gradient(to right, #cbc4df, #a9b0d3, #8385cf, #547cd1);
}