a:hover {
    background-color: lightgoldenrodyellow;
}

.saved {
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    font-size: 23px;
}

body {
    background-image: url("/static/img/journal.jpg");
    background-size: 955px;
}
.container {
    display: grid;
    justify-content: center;
    background-image: url("/static/img/profile.jpg");
    background-size: cover;
    height: 100vh;
}

.navbar-custom {
    background-color: rgb(235, 225, 238);
}

.navbar-custom .navbar-brand {
    color: black;
    font-size: 35px;
    padding-left: 15px;
}

.navbar-custom .nav-link {
    color: black;
    font-size: 25px;
}

.calendar {
    background-color: rgb(228, 206, 235);
}

#mood-imgs a{
    padding-right: 7px;
}

