{% extends 'base.html' %}
{% block title %} Welcome to your journal! {% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<a href="/profile">Go to profile page</a>
<h1>HOW'S YOUR DAY SO FAR</h1>
  <form action="/journal/{{ request.args.get('date') }}" method="POST">
    <textarea rows="40" cols="120" name="journal_text" id="journal-text"></textarea>
    </br>
    <button class="btn" type="submit">Save</button>
  </form>
  
  <p>Modified: <span id="datetime"></span></p>
  <script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML = dt.toLocaleString();
  </script>
  <script type="text/javascript" src="/static/js/journal.js"></script>
{% endblock %}