{% extends 'base.html' %}
{% block title %} Welcome to your journal! {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/journal_page.css"/>
{% endblock %}

{% block body %}
<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="/profile">
    <img src="/static/img/journal-icon.jpg"  height="40" class="d-inline-block align-top" alt="">
    Pillowbook
  </a>
  <div>
  <a class="nav-link" href="/habits">Record My Habits</a>
  </div>
  <div>
    <a class="nav-link" href="/logout">Log Out</a>
  </div>
</nav>

<div class="container">
  <h1>{{ session["user_fname"] }}'s Journal</h1>
  <div class="calendar-date">
    <h3 style="float: right">
      {{ request.args.get('date') }}
      <div id="weekday"></div>
    </h3>
    <div class="calendar-icon" style="float: right">
      <img src="/static/img/calendar.png" height=63 />
    </div>
  </div>


  <h4>Would you like a prompt to help you get started?</h4>
  <div>
    <button id="get-prompt-button" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">
    Prompt</button>
  </div>
  </br>

  <form action="/journal/{{ request.args.get('date') }}" method="POST"> 
    <textarea name="journal_text" id="journal-text" 
    placeholder="Write your entry here >">
    </textarea>
    </br>

    <div>
      <button type="submit"class="btn btn-primary btn-block fa-lg gradient-custom-3 mb-3">
      Save</button>
    </div>
  </form>
</div>

<script>
  const WEEKDAYS = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday", "Sunday"];
  const date = new Date(window.location.href.split("=")[1])
  document.getElementById("weekday").innerHTML = WEEKDAYS[date.getDay()];
</script>
<script type="text/javascript" src="/static/js/journal.js"></script>
<script type="text/javascript" src="/static/js/prompts.js"></script>
{% endblock %}