{% extends 'base.html' %}

{% block title %} Welcome to your journal! {% endblock %}

{% block head %}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <script type="text/javascript" src="/static/js/caleandar.js"></script>
  <link rel="stylesheet" href="/static/css/theme3.css"/>
  <link rel="stylesheet" href="/static/css/profile_page.css"/>
{% endblock %}

{% block body %}
<div>
  <h1>Ready to journal..</h1>
</div><br>
<section id="mood-imgs">
  <h2>How are you feeling today?</h2><br>
  <a href="/profile/ratings/1" style="text-decoration:none"> 
    <img alt="angry" src="/static/img/depleted.jpg" width="70" height="90" name="mood">
  </a>
  <a href="/profile/ratings/2" style="text-decoration:none">
    <img alt="sad" src="/static/img/sad.jpg" width="70" height="90">
  </a>
  <a href="/profile/ratings/3" style="text-decoration:none">
    <img alt="happy" src="/static/img/okay.jpg" width="70" height="90">
  </a>
  <a href="/profile/ratings/4" style="text-decoration:none">
    <img alt="star" src="/static/img/happy.jpg" width="75" height="95">
  </a>
  <a href="/profile/ratings/5" style="text-decoration:none">
    <img alt="love" src="/static/img/elated.jpg" width="65" height="92">
  </a>
</section><br>
<br>
<br>
<div>
  <div id="calendar" class="calendar"></div>
</div>

<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}

<!-- 
<input type="image" src="/static/img/angry.png" name="saveForm" class="btTxt submit" id="saveForm" />
<input type="image"  id="saveform" src="/static/img/angry.png " alt="Submit Form" />
-->