{% extends 'base.html' %}

{% block title %} Welcome to your journal! {% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/caleandar.js"></script>
  <link rel="stylesheet" href="/static/css/theme3.css"/>
  <link rel="stylesheet" href="/static/css/profile_page.css"/>
{% endblock %}

{% block body %}
<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="/profile">
    <img src="/static/img/journal-icon.png" height="40" class="d-inline-block align-top" alt="journal">
    YS Journal
  </a>
  <div>
  <a class="nav-link" href="/habits">Record Your Habits</a>
  </div>
  <div>
    <a class="nav-link" href="/logout">Log Out</a>
  </div>
</nav>

<div class="container">
  <div>
    <h1>Hi {{ session["user_fname"] }}!</h1>
  </div>
  <section id="mood-imgs">
    <h2>How are you feeling today?</h2><br>
    <a href="/profile/ratings/1" style="text-decoration:none"> 
      <img alt="angry" src="/static/img/depleted.jpg" height="120" width="120">
    </a>
    <a href="/profile/ratings/2" style="text-decoration:none">
      <img alt="sad" src="/static/img/sad.jpg" height="120" width="120">
    </a>
    </a>
    <a href="/profile/ratings/3" style="text-decoration:none">
      <img alt="happy" src="/static/img/okay.jpg" height="120" width="120">
    </a>
    </a>
    <a href="/profile/ratings/4" style="text-decoration:none">
      <img alt="star" src="/static/img/happy.jpg" height="120" width="120">
    </a>
    </a>
    <a href="/profile/ratings/5" style="text-decoration:none">
      <img alt="love" src="/static/img/elated.jpg" height="120" width="120">
    </a>
    </a>
  </section>
  <div>
    <h3>Select a date to write in Your Simple Journal</h3><br>
    <div id="calendar" class="calendar"></div>
  </div>
</div>

<script type="text/javascript" src="/static/js/profile.js"></script>
<script type="text/javascript" src="/static/js/rating.js"></script>
{% endblock %}
